<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
<%- include('../partials/header.ejs') %> 
    <h1 style="text-align: center;">Add a new place</h1>

    <div class="container d-flex justify-content-center">

        <form class="row gy-2 gx-3 align-items-center" action="/locations" method="POST">

            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Destination</label>
                    <input type="text" class="form-control" id="Input2" name="location" required placeholder="Name"/><br/>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Typical Food</label>
                    <input type="text" class="form-control" id="Input3" name="food" placeholder="food1, food2"/><br/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Airplane Ticket</label>
                    <input type="text" class="form-control" id="Input4" name="flightPrice" placeholder="Average price"/><br/>
                </div>
                <div class="col-md-3">
                    <label class="form-label">Hotel Price</label>
                    <input type="text" class="form-control" id="Input5" name="hotelPrice" placeholder="Average price"/><br/>
                </div>
                <div class="col-md-6">
                    <label class="form-label">Image of Destination</label>
                    <input type="text" class="form-control" id="Input6" name="img" placeholder="Paste image URL"/><br/>
                </div>
                <div class="col-md-12">
                    <label class="form-label">About the Destination</label>
                    <textarea type="text" class="form-control" id="Input7" name="description" placeholder="Add some information about the destination"></textarea><br/>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Book a Flight</label>
                    <input type="text" class="form-control" id="Input8" name="bookingLink" placeholder="Paste link to book a flight"/><br/>
                </div>
               
                <button type="button" class="btn btn-outline-success" style="margin-bottom: 20px;">
                    <input type="submit" value='Create New Destination' style='border: none; background: none;'/>
                </button>
            </div>
        </form>
    </div>
    

     <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>