<footer>
    <!-- <div class="footer-content">
        <h3>Travel Guide</h3>
        <p>Travel Guide is a blog website where you will find great destinations to explorer around the world. Programed by Rafaela Hollanda using Node.js, Express.js and BootStrap.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
    </div> -->
    <div class="card text-center" style="margin-top: 20vh;">
        <div class="card-header">
          <!-- Featured -->
        </div>
        <div class="card-body">
            <h5 class="card-title">Travel Guide</h5>
            <p class="card-text">Travel Guide is a blog website where you will find great destinations to explore around the world.</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
        </div>
        <div class="card-footer text-muted">
            Developed by Rafaela Hollanda using Node.js, Express.js and BootStrap
        </div>
      </div>
</footer>