<header>
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/locations" style="color: white;"><img src="/images/world.png" width="50" height="44">World Travel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" style="color: white;" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/locations/new">Add New Destination</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/attractions/new">Add New Attraction</a>
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" style="color: white;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  + ADD NEW
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/locations/new">+ New Destination</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="/attractions/new">+ New Attraction</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
</header>