@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&display=swap');

body{
    background-image: url(https://media.istockphoto.com/id/1174989482/photo/gray-abstract-minimal-motion-backgrounds-loopable-elements-4k-resolution.jpg?b=1&s=170667a&w=0&k=20&c=hn1EQ6i2fEBS0Cf-tFMfUsbNBGY1ATMNwgz1n7ffIKg=);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed; 
}



.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    font-weight: 700;
}



.nav-item{
    color: white
}

/* -- locationShow page for flight */
.flight{
    text-decoration-line: underline;
    font-weight: 600;
}
.flight:hover{
    color: rgb(94, 25, 39); 
}

#container-index2{
    margin-top: 2rem;
}

a{
    text-decoration: none;
    color: black;
}

.animation-hover:hover{
    text-decoration: none;
    color: rgb(27, 71, 28);
    box-shadow: 2px 2px rgba(128, 128, 128, 0.562);
}
.animation-hover:after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    margin-top: 0.2em;
    background: rgb(231, 20, 20);
    transition: 0.7s ease-in-out;
}

.animation-hover:hover:after{
    width: 100%;
}

.buttons{
    margin-top: 0.1rem;
    display: flex;
    justify-content:flex-end;
    align-items: stretch;
}

h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight:bold;
    text-shadow: 1px 2px 2px rgba(124, 108, 108, 0.858);
    font-size: 2.5rem;
    color: rgb(94, 25, 39);
    letter-spacing: 2px;
    word-spacing: 3px;

}

p{
    letter-spacing: 1px;
    word-spacing: 2px;
}

h4{
    color: rgb(94, 25, 39);
    margin-bottom: 5%;
    margin-top: 3%;
}

/* ---index2 page sortBy */
#sort{
    display: flex;
    justify-content: flex-end;
}


/* ====================== attractions css ================= */
html{
    height: 100%;
}
.margin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}




/* =========== footer =========== */

#h5{
    color: rgb(207, 203, 203);
    font-weight: bold;
}

#p{
    color: rgb(163, 160, 160);
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    color: black;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(3, 2, 2);
    border: 1.1px solid rgb(24, 19, 19);
    padding: 5px;

    border-radius: 50%;

}
.socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}




/* ========== index page =========== */
#main-page{
    background-image: url(https://img.freepik.com/free-photo/female-tourists-hand-have-happy-travel-map_1150-7411.jpg?w=2000);
    background-repeat: no-repeat;
    background-position: center;
}
.main{
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-page{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    max-width: 100%;
}

.first-page h1{
    font-size: 3rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(245, 241, 242);
    text-shadow: 3px 3px 3px rgb(80, 82, 58);
}

.first-page p{
    font-size: 1rem;
    margin-top: 0.4rem;
    padding:20px;
    font-weight: bold;
    text-shadow: 1px   black
}


/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: rgb(5, 5, 5);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 2rem;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}