<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
<body>
<%- include('../partials/header.ejs') %> 

    <h1 style="text-align: center;" class="margin">Login</h1>

    <div class="container d-flex justify-content-center">

        <form class="row gy-2 gx-3 align-items-center" action="/sessions" method="POST">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" id="Input2" name="username" required /><br/>
                </div>
                
                <div class="col-md-6">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" id="Input5" name="password"  required/><br/>
                </div>

                <button type="button" class="btn btn-success" id="btncover2" style="margin-bottom: 20px;">
                    <input type="submit" value='Login' style='border: none; background: none;'/>
                </button>
            </div>
        </form> 
    </div>
    
    <p style="text-align: center; margin-bottom: 20px" class="margin">Don't have an Account?</p>
    <p style="text-align: center;"><a style="text-decoration: underline;"  href="/user/new">Create Account</a></p>
</body>
</html>