<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
<%- include('../partials/header.ejs') %> 

    <h1 style="text-align: center;" class="margin">Create Account</h1>
   
    <div class="container d-flex justify-content-center">
        <form class="row gy-2 gx-3 align-items-center" action="/user" method="POST">
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label">Username</label>
                    <input type="text" class="form-control" id="Input2" name="username" required /><br/>
                </div>
                
                <div class="col-md-6">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" id="Input5" name="password"  required/><br/>
                </div>

                <button type="button" class="btn btn-outline-success" style="margin-bottom: 20px;">
                    <input type="submit" value='Create User' style='border: none; background: none;'/>
                </button>
            </div>
        </form> 

    </div>
    <p style="text-align: center; margin-bottom: 20px" class="margin">Already haven an Account?</p>
    <p style="text-align: center;"><a style="text-decoration: underline;"  href="/sessions/new">Log In</a></p>


    </div>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>